name: Go Project CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  build-and-lint:
    name: Build and Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.3'

      - name: Build
        run: make build

      - name: Run Linter
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56.2
          args: --config .golangci.yml

      - name: Run Tests
        run: make test